.keywords {
  a {
    color: #777777;
  }
  color: #777777;
  font-size: 13px;
  line-height: 25px;

  .header {
    font-size: 14px;
    color: #000;
  }

  ul {
    padding: 0;
  }

  li {
    padding: 0;
    list-style-position: inside;
  }

  li::first-letter {
    text-transform: capitalize;
  }
}
