.catDescription {
  color: #888;
  font-size: 11px;
  background-color: #F4F4F4;
  padding: 0 !important;
  margin-bottom: 15px;
  p {
    margin: 0 0 5px;
    color: #888;
    a {
      color: #33659c;
    }
  }
  h2, h3 {
    font-size: 12px !important;
    font-weight: bold;
    color: #888;
    span{
      font-weight: bold;
      font-size: 12px !important;
    }
  }
  ul {
    margin: 0;
    padding-left: 15px;
    list-style-type: none;
  }

  .contentWrap {
    text-overflow: ellipsis;
    height: 200px;
    overflow: hidden;
  }
  .seeMore {
    text-align: center;
    a {
      cursor: pointer;
      display: inherit;
    }
  }
  .desc-listing-keyword a {

    font-size: 10px !important;
  }
}
